/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root
#__next {
  isolation: isolate;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&display=swap");

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);

  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish--violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);

  --fw-sm: 400;
  --fw-md: 700;
}
html {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}
body {
  font-family: "Karla", sans-serif;
  max-width: 1440px;
  background-color: var(--dark-violet);
}

h1 {
  font-family: "DM Serif Display", sans-serif;
}

.navigation 
{
  background-color: white;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  color: var(--grayish-blue);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li {
  color: hsl(270, 9%, 17%);
   text-transform: uppercase;

}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

<!-- https://github.com/joey5742/insure-landing-page  -->
